{% extends 'course/base.html' %}
{% load crispy_forms_tags %}
{% block content %} 
{% load static %}
	<!-- <div class="container mt-4">
		<p class="h2">Analysis of Responses</p>
		<div style="height: .25rem;width:100%;background-image: linear-gradient(to right,#0575E6,#021B79); border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; "></div>

		
	</div>		 -->

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
 
	{% for one_student_response in all_students_responses %}

		<div class="d-flex flex-row align-self-center mt-2">
			<div>
				<img src="{% static 'course/logo.png' %}">
			</div>
			<div style="margin-left: auto; margin-right: auto;" class="mt-2">
				<div class="h4" style="text-align: center;">
				BHARATIYA VIDYA BHAVAN’S
				</div>
				<div class="h4" style="text-align: center;">
				SARDAR PATEL INSTITUTE OF TECHNOLOGY
				</div>
				<div style="text-align: center;" class="h5">
				<strong>(Autonomous Institute Affiliated to Mumbai University)</strong>
				</div>
				<div style="text-align: center;" class="h5">
					<span>DEPARTMENT OF COMPUTER ENGINEERING</span>
				</div>
			</div>
			
		</div>

		<div style="height: 1px; background-color: #000" class="m-3"></div>
	
		<table class="table table-striped"
			style="border-style: solid;border-color: black;border-width: 2px;border-radius: 2rem">
			<thead>
				<tr>
					<th scope="col">
						Name
					</th>
					
					<th scope="col">
						Question
					</th>
					<th scope="col">
						Response
					</th>
				</tr>
			</thead>
			<tbody>
				

					{% for student_response in one_student_response %}

						
						
						<tr>
							<th scope="row">{{ student_response.0.user.first_name }} {{ student_response.0.user.last_name }}</th>
						
							<td>
								{{ student_response.1 }}
							</td>
							<td>
								{{ student_response.2 }}
							</td>
						</tr>
							
						
						
					{% endfor %}
				
			</tbody>
		</table>

		<div style="page-break-after: always;"></div>
	
	{% endfor %}
	
{% endblock content %}	 